body
{
    background-color: #181620;
}
h1{
    color: white;
    display: inline-block;
}
.villa_list
{
    background-color: #181620;
    padding: 3em;
}

.villa_list .card
{
    background-color: #e8e5f1;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 5px 5px #b2bec3;
    text-align: center;
    font-family: 'Poppins';
}

.card img
{
    padding-bottom: 1em;
    max-width: 100%;
    border-radius: 5px;
}

.card .villa_name
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
}

.card .villa_city
{
    text-align: center;
    margin-bottom: 1em;
}
.card .villa_price
{
    text-align: center;
    margin-bottom: 1em;
}
.card .villa_days
{
    text-align: center;
    margin-bottom: 1em;
}

.villa_delete
{
    background-color: #eb4d4b;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-right: 0.5em;;
}
.villa_delete:hover
{
    box-shadow: 0px 5px 5px #b2bec3;
    color: #000000;
}

.villa_edit
{
    background-color: #40bb6f;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
}
.villa_edit:hover
{
    box-shadow: 0px 5px 5px #000000;
    color: #000000;
}

.villa_logout
{
    background-color: #4f4f4f;
    color: white;
    margin-top: 10px;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    float: right;
}
.villa_logout:hover
{
    box-shadow: 0px 2px 5px #747474;
    color: white;
}

.villa_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}